body {

    background-color: rgb(204, 228, 235);
}

h1 {
    text-align: center;
    color: rgb(162, 0, 211);
    font-size: 300%;
    font-weight: bolder;
    text-decoration: underline;
}

h2{
    text-align: center;
    color: rgb(162, 0, 211);
}

#M1{
    color: rgb(233, 28, 130);
    font-style: oblique;
}

#M2{
    color:rgb(233, 28, 130);
    font-style: oblique;
}